[Unit]
Description=VPS Local Orchestrator API
After=network.target

[Service]
Type=simple
User=sebss
WorkingDirectory=/home/sebss/apps/VPSLocalOrchestrator/api/dist
ExecStart=/home/sebss/.nvm/versions/node/v24.11.1/bin/node index.js
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=vps-orchestrator

# Variables de entorno
Environment="NODE_ENV=production"

[Install]
WantedBy=multi-user.target
